<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>ID: {{.ID}}</h1>
    <h1>Name: {{.Name}}</h1>
    <h1>Address: {{.Address}}</h1>
    <h1>Job: {{.Job}}</h1>
    <h1>Reason: {{.Reason}}</h1>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>